nav {
    background-color: #0bcadb;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    -khtml-box-shadow: 0px 0px 5px #000000;
    -o-box-shadow: 0px 0px 5px #000000;
    -ms-box-shadow: 0px 0px 5px #000000;

}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    
}
.row{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.col-12{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.form {
    border-radius: 5px;
    background-color: #3a61ce;
    padding: 20px;
    width: auto;
    border: none;
  }
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(209, 35, 35); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover{
    background-color: #45a049;
  }
  input [type=number]{
    border: 1px solid rgb(209, 35, 35)
  }
  input[type=email] {
    border: 1px solid rgb(209, 35, 35)
  }
  div {
    float: left;
}

body {
  background-image: url("/images/bright-colorful-hot-air-balloons-flying-in-the-blue-sky-behind-the-sun-free-video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 0px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0px 0px 5px #000000;
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  -khtml-box-shadow: 0px 0px 5px #000000;
  -o-box-shadow: 0px 0px 5px #000000;
  -ms-box-shadow: 0px 0px 5px #000000;
  color: #ffffff;
  background-color: #000000;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.Muhammad {
  height: 500px;
  width: 33.33333%;
  text-align: center;
}
.Muhammad img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.liam {
  height: 500px;
  width: 33.33333%; 
  text-align: center;
}
.liam img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.Nathan {
  height: 500px;
  width: 33.33333%;
  text-align: center;
}
.Nathan img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}